@model IEnumerable<DOC_RASCH.Data.Entities.Section>
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.0/css/jquery.dataTables.min.css" />


<body id="page-top">
    <!-- Main Content -->
    <div id="content">
        <div class="card-header">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Secciones</h3>
                    </div>
                    <div class="panel-body">
                        <hr />
                        <table class="table table-hover table-responsive table-striped" id="MyTable">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FileName)
                                    </th>
                                     <th>
                                        @Html.DisplayNameFor(model => model.Description)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model) {
                                <tr>
                                    <td>
                                        <img src="~/images/secciones.png" style="width: 60px; height: 60px; border-radius: 100px;" />
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FileName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Description)
                                    </td>
                                    <td>
                                        <form asp-action="IndexDocument" enctype="multipart/form-data">
                                        <div class="form-group">
                                            <input  type="hidden" name="id"  value="@item.Id" class="form-control"/>
                                            <input  type="hidden" name="idF" value="@item.FileId" class="form-control"/>
                                            <input type="submit" value="Abrir" class="btn btn-success" />
                                        </div>
                                        </form>
                                    </td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
                <a asp-action="Index" class="btn btn-success">Regresar</a>
        </div>
    </div>
</body>

@functions {
    public string GetName(int id)
    {
        string name = "Modal";
        name += id;
        return name;
    }
    public string GetLabel(int id)
    {
        string label = "ModalLabel";
        label += id;
        return label;
    }
    public string GetNameCollapse(int id)
    {
        string name = "collapse";
        name += id;
        return name;
    }

}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="//cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js"></script>
    <script src="/js/deleteDialog.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#MyTable').DataTable({
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
                },
                "aLengthMenu": [
                    [25, 50, 100, 200, -1],
                    [25, 50, 100, 200, "Todos"]
                ]
            });
            // Delete item
            //sc_deleteDialog.openModal('deleteItem', true, 'btnYesDelete', '/Business/Delete/', false);
        });
    </script>
}